html {
    scroll-behavior: smooth;
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    background-color: rgba(243, 230, 214);
    font-family: "Poppins", sans-serif;
    animation: fadeIn 1s ease-in-out;
}
.navbar{
    /* background-color: rgba(189, 162, 129, 0.822); */
    display: flex;
    align-items: center;
    padding: 10px 80px 10px 150px;
    background-color: rgb(213, 185, 156);
    backdrop-filter: blur(4px);
    position: fixed;
    z-index: 1000;
    width: 100%;
}
.logoNav img {
    width: 120px;
    height: auto;
    object-fit: contain;
    /* background: rgba(255,255,255,0.5);  */
    /* padding: 5px; */
    border-radius: 10px;
}
ul{
    list-style: none;
    font-weight: bold;
    display: flex;
    margin-left: auto;
    gap: 30px;
}
ul li{
    margin-left: 30px;
}
ul li a {
    font-weight: 600;
    color: #5c3b19;
    text-decoration: none;
    font-size: 19px;
    transition: 0.3s ease;
}
ul li a:hover {
    color: #8a6238;
}
a.loginNav,
a.signup {
    background-color: #b3542e;
    border-radius: 8px;
    color: #fff !important;
    padding: 8px 18px;
    transition: 0.3s ease;
}

a.loginNav:hover,
a.signup:hover {
    background-color: #8e4123;
    transform: scale(1.03);
    color: #fff;
}
.home{
  position: relative;
  height: 100vh;                
  background: url(../images/background.jpeg) center/cover no-repeat ;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
}
.home::before{
  content: "";
  position: absolute;
  inset: 0;                     
  background: rgba(0,0,0,0.55);   
  z-index: 1;
}
.home-content{
  position: relative;
  z-index: 2;
  text-align: center;
  font-size: 20px; 
 font-family: "Poppins", sans-serif;

}
.home-content h1 {
    font-size: 64px;
    margin-bottom: 15px;
    text-shadow: 0 4px 8px rgba(0,0,0,0.6);
    font-family: "Playfair Display", serif;
     color: #f4d7a1; 

}
.home-content p {
    font-size: 22px;
    line-height: 1.6;
    margin-bottom: 25px;
    color: #f5e3c3;
    text-shadow: 0 4px 8px rgba(0,0,0,0.5);
}

.btnHome {
    padding: 10px 22px;
    background: #b3542e;
    color: white;
    font-size: 20px;
    border-radius: 10px;
    text-decoration: none;
    transition: 0.3s;
}

.btnHome:hover {
    background: #8e4123;
    transform: scale(1.06);
}

.signupBtn {
    background: #ffcc66;   
    color: #000;           
    font-weight: 600;
    padding: 8px 20px;
    border-radius: 6px;
    border: none;
    transition: 0.3s;
     background: #8f7854;
    color: #ffffff;
}

.signupBtn:hover {
    background: #ffb944;   
    transform: translateY(-2px);
}

.about-container{
  background-color: rgba(245, 238, 231, 0.921);
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  gap: 70px;
  /* padding: 60px 60px; */
    padding: 20px 60px 20px;

}
.about-img img{
  height: 550px;
  border-radius: 10px;
}
.about-text{
  /* color: #72490be9; */
  color: #5A4633;
  line-height: 1.7;    
  word-spacing: 3px;  
  margin-top: 20px;  
  font-size: 20px;
}
.about-text h2 {
    position: relative;
    font-size: 48px;
    font-weight: bold;
    margin-bottom: 25px;
    text-shadow: 0px 1px 2px rgba(0,0,0,0.2);
    font-family: "Playfair Display", serif;


}
.about-text h2::after {
    content: "";
    position: absolute;
    width: 210px;
    height: 4px;
    bottom: -4px;
    left: 0;
    background-color: #b36a29;
    border-radius: 20px;
}
.about-img {
    margin-top: 80px;
}
.about-text p {
    margin-bottom: 18px;
    padding-left: 30px;
    position: relative;
}
.about-text p::before {
    content: "\f805"; 
    font-family: "Font Awesome 6 Free";
    font-weight: 900;
    color: #b36a29;
    position: absolute;
    top: 0;
    left: 0;
    font-size: 16px;
}
section.baking {
    color: #7d571e;
    background-color: #F3E6D6;
    padding: 30px 0;

}
.ourBaking {
    text-align: center;
    margin-bottom: 40px;
}
.ourBaking h1 {
    font-family: "Playfair Display", serif;
    padding-top: 30px;
    /* margin: 20px ; */
    font-size: 48px;
    margin-bottom: 15px;
    color: #5A3D2B;
    text-shadow: 0px 1px 2px rgba(0,0,0,0.1);
}
.ourBaking p {
    font-size: 20px;
    color: #6e4c1c;
    margin-top: 20px;
    line-height: 1.6;
}
.container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 70px;
    margin: 80px;
   /* padding: 20px 80px; */
}
.card {
    /* width: 300px; */
    background-color: #F5EEE7;
    border-radius: 15px;
    /* padding: 20px; */
    transition: 0.4s ease;
    box-shadow: 0px 4px 10px rgba(0,0,0,0.07);
    border: 2px solid #f1d9c7;
    /* box-shadow: 2px 2px #f3d3c0; */
    text-align: center;
}
.card:hover{
    transform: translateY(-10px);
    box-shadow: 0px 12px 20px rgba(0,0,0,0.15);
}
.card img {
    width: 100%;
    height: 387px;
    margin-bottom: 20px;
    border-radius: 10px;
}
.card h2 {
    font-size: 32px;
    font-family: "Playfair Display", serif;
    /* font-size: 28px; */
    margin-bottom: 12px;
    color: #5A3D2B;
}
.card p{
    margin-bottom: 30px;
    font-size: 17px;
    color: #7d571e;
    line-height: 1.5;
}
.Contact {
    padding: 60px 40px;
    min-height: 100vh;
    background: #faf7ef; 
    color: #5A4633;
}
.contact-container {
        display: flex;
    justify-content: center;
        gap: 40px;

}

.Contact h2 {
    width: 100%;
    text-align: center;
    font-family: "Playfair Display", serif;
    font-size: 34px;
    color: rgb(90, 61, 43);
    margin-bottom: 50px;
}

.Contact h2::after {
    content: "";
    width: 60px;
    height: 4px;
    background: rgb(179, 106, 41);
    margin: 8px auto 0;
    display: block;
    border-radius: 2px;
}

.Contact-us,
.details {
    background: #fffdf7; 
    padding: 30px;
    border-radius: 18px;
    width: 40%;
    /* max-width: 450px; */
    width: 40%;
    box-shadow: 0 4px 12px rgba(0,0,0,0.08);
}

.Contact-us h3,
.details h3 {
    font-size: 22px;
    /* color: #2b2b2b; */
    margin-bottom: 10px;
     color:rgba(101, 48, 8, 0.914) ;
}

.Contact-us p,
.details p {
    font-size: 17px;
    /* color: #555; */
    margin-bottom: 20px;
    color: #2a2928;
}

.contact-form {
    display: flex;
    flex-direction: column;
    gap: 15px;
    color: rgba(84, 55, 11, 0.914);
}

.contact-form input,
.contact-form textarea {
    padding: 12px;
    border: 1px solid #d4cfc4;
    border-radius: 10px;
    /* background: #fafafa; */
    font-size: 16px;
    background-color: rgba(245, 238, 231, 0.921);
    width: 100%;
    /* border: 1px solid  rgba(237, 223, 209, 0.921); */
    /* border-radius: 8px; */
    /* font-size: 15px; */
}

.contact-form textarea {
   height: 130px;
   resize: none;
}

.contact-form .submit-btn {
    /* background: #6d3214; */
    color: #fff;
    border: none;
    padding: 14px;
    border-radius: 10px;
    font-size: 17px;
    cursor: pointer;
    transition: .3s;
    background:rgba(159, 87, 15, 0.921);
}

.contact-form .submit-btn:hover {
    background:#a04f26;
    /* opacity: 0.9; */
}

.our-details {
    margin-bottom: 20px;
}

.our-details h4 {
    font-size: 17px;
    margin-bottom: 5px;
}

.our-details i {
    color:#6d3214;
}

.details img {
    /* width: 100%; */
    width: 70%;
    /* max-width: 380px; */
    height: 40vh;
    border-radius: 10px;
    margin-top: 15px; 
  }

@keyframes fadeIn {
    from { 
        opacity: 0; 
        transform: translateY(10px); 
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}